/*Importer un font dépuis google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*margin et padding à 0 pour éviter différent rendu sur les navigateurs*/
*{
    margin: 0; /*margin définit la taille des marges sur les quatre côtés de l'élément.*/
    padding: 0; /*padding est une propriété raccourcie qui permet de définir les différents écarts de remplissage sur les quatre côtés d'un élément*/
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #191513; /* La couleur de fond de la page web*/
    position: relative;    
}

span {
    color: #eea16d;
}
header {
    display: flex; /**/
    align-items: center;
    justify-content: space-between;
    padding: 0 10%; /* vertical | horizontal */
    height: 80px;
}
header .logo {
    color: #fff;
}
header .menu {
    display: flex;
    align-items: center;
}
header .menu li {
    margin: 0 15px; /* vertical | horizontal */
    list-style: none; /* Permet d'afficher la Valeur avec un mot-clé uniquement */
}
header .menu li a {
    color: #999;
    text-decoration: 0; /*Pour aucune décoration*/
    text-transform: uppercase; /*text-transform définit la façon d'utiliser les lettres capitales pour le texte d'un élément*/
    font-size: 15px; /* font-size: Taille de la police*/
    position: relative;
    transition: 0.5s; /*Applique une transition globale de 0.5séconde*/
}

/*:hover permet de spécifier l'apparence d'un élément au moment où l'utilisateur le survole avec le pointeur, sans nécessairement l'activer.*/
header .menu li a:hover {
    color: #fff;
    font-size: 18px; /*font-size définit la taille de fonte utilisée pour le texte.*/
}
/* ::beforesélecteur insère quelque chose avant le contenu de chaque élément sélectionné. */
header .menu li a::before {
    position: absolute;
    bottom: -5px; /* bottom contribue à la définition de l'emplacement vertical des éléments positionnés*/
    content: "";/*content remplace un élément avec une valeur générée*/
    width: 0%; /*permet de définir la largeur de la boîte du contenu d'un élément.*/
    height: 5px; /*permet de définir la hauteur de la boîte du contenu d'un élément.*/
    border-radius: 6px; /*border-radius permet de définir des coins arrondis pour la bordure d'un élément.*/
    transition: 0.5s;
    background-color: #eea16d;
}

header .menu li a:hover::before {
    width: 100%;
}
section {
    height: calc(100vh - 80px);
    align-items: center;
    padding: 0 10%; /* vertical | horizontal */
    display: flex;
}
.left {
    width: 45%;

}
.search-box {
    display: flex;
    align-items: center;
    border: 2px solid #eea16d;
    width: 250px;
    padding: 5px 10px;
    border-radius: 60px;
}
.search-box img {
    width: 16px;
}
.search-box input {
    background-color: transparent;
    color: #fff;
    width: calc(100% - 16px);
    padding-left: 5px;
    border: 0; /*Permet de ne pas définir de Bordure*/
    outline: 0; /*Permet de ne pas définir de Contour*/
}
.left hr {
    width: 100px;
    margin: 20px 0;
    background-color: #eea16d;
    border: 0;
    height: 5px;
    border-radius: 6px;
}
.left h1 {
    font-size: 30px;
    color: #fff;
}
.left p {
    color: #999;
    font-size: 13px;
    margin: 15px 0;
}
.icons {
    list-style: none;
    display: flex;
    margin-left: -25px;
}
.icons li{
    margin: 15px 0;
}
.icons li i {
    color: #eea16d;
    font-size: 20px;
    border: 2px solid #eea16d;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center; /* Éléments groupés au centre */
    border-radius: 50px;
    margin-left: 25px;
    cursor: pointer; /*cursor définit la forme du curseur (s'il y en a un) lorsque le pointeur est au-dessus de l'élément.*/
    transition: 0.5s;
}
.icons li i:hover {
    background-color: #eea16d;
    color: #fff;
    transform: scale(1.5); /*La propriété transform modifie l'espace de coordonnées utilisé pour la mise en forme visuelle. Grâce à cette propriété, il est possible de translater les éléments, de les tourner, d'appliquer des homothéties, de les distordre pour en changer la perspective.*/
    color: #fff;
}
.right {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center; /* Éléments groupés au centre */
    height: 100%;
}
.right img {
    height: 100%;
    width: 100%;
}
/* Responsive */
/*La règle @ @media permet d'appliquer une partie d'une feuille de styles en fonction du résultat d'une ou plusieurs requêtes média (media queries). Grâce à cette règle, on peut indiquer une requête média et un ensemble de règles CSS qui s'appliquent uniquement si la requête média est vérifiée pour l'appareil, le contexte avec lequel le contenu est consulté.*/
@media (max-width:904px){
    header {
        padding: 0 5%;
    }
    header .menu {
        display: none;
    }
    section {
        margin-top: 100px;
        flex-direction: column; /*flex-direction définit la façon dont les éléments flexibles sont placés dans un conteneur flexible : elle définit l'axe principal et la direction des éléments (normale ou inversée).*/

    }
    section .left , section .right {
        width: 100%;
    }
    .toggle-menu {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; /*cursor définit la forme du curseur (s'il y en a un) lorsque le pointeur est au-dessus de l'élément.*/
        z-index: 1; /*Permet de couvrir le body et l'image*/
        position: relative;
    }
    .toggle-menu::before {
        position: absolute;
        content: "";
        height: 5px;
        width: 25px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 10px 0 #fff; /*box-shadow ajoute des ombres à la boîte d'un élément via une liste d'ombres séparées par des virgules*/
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle-menu.active::before{
        transform: translateY(0) rotate(-45deg);
        box-shadow: 0 0px 0 #fff;
    }
    .toggle-menu::after {
        position: absolute;
        content: "";
        height: 5px;
        width: 25px;
        background-color: #fff;
        border-radius: 6px;
        transform: translateY(10px); /*transform modifie l'espace de coordonnées utilisé pour la mise en forme visuelle.*/
        transition: 0.5s;
    }
    .toggle-menu.active::after{
        transform: translateY(0) rotate(45deg);
    
    }
    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1a1818;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    header .menu.responsive li {
        margin: 25px 0;
    }
}